/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-area {
	color: #404040;
    font-family: 'Merriweather';
    font-size: 1rem;
	line-height: 1.75;
	padding-left: 5%;

	h2 {
		font-family: 'Novecento';
		font-size: 1.5rem;
	}

	a {
		color: #248a83;
		text-decoration: none;
	}

	i {
		color: #404040;
	}

	.day-of-week {
		font-family: 'Merriweather';
	}

	ul {
		margin-left: 0;
		padding-left: 0;
	}

	li {
		list-style-type: none;
	}

}